*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* LAYOUT GENERAL */

header {
    height: 50px;
    width: 100%;
    position: absolute;
}


.sidebar {
    position: fixed;
    left: 0;
    height: 100%;
}

.dashboard {
    z-index: 1;
    position: fixed;
    bottom: 0;

}

.container-sidebar {
    height: 100%;
    width: 200px ;
    background-color: #121212;

}

.container {
    width: 100vw;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.095);
    display: flex;
    
}

a {
    text-decoration: none;
    color: white;
}

a li {
    text-decoration: none;
    color: gray
}

span a {
    color: 
    grey;
}
/* hover */
a li:hover , ul a li:hover, .fa-heart:hover , .fa-folder:hover , .margin-element i:hover , #text-plus:hover   {
    color: white;
}
.col-bottom a :hover {
    color: white;
}

#john {
    color: white;

}
.under-song:hover {
    color: white;
    text-decoration: underline;
}
.col-10 a:hover , button:hover{
  transform: scale(1.2);
}
/* hover out*/

.col-bottom a p , .under-song {
    color: grey;
}



i {
    margin-right: 6px;
}

p  {
    color: white;
    padding: 5px;
    margin-left: 10px;
}

span {
    color: white;
    padding: 0px;

}

li{
    
    display: flex;
    align-items: center;
}


.row , .row-player {
    
    display: flex;
    justify-content: center;
    width: 100%;
}

.row-player {
    background-color: rgb(54, 54, 54);
}

.row-bottom {
    background-color: #121212;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    width: 100%;
}

.margin-element {
    display: flex;
    padding-left: 15px;
    padding-bottom: 5px;
    align-items: center;
}

.row.end {
    background-color: #1212125f;
    display: flex;
    justify-content: end;
    width: 100%;
    
}

.col-fixed {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 300px;
    height: 80px;
    
}

button {
    color: white;
    height: 40px;
    padding: 10px 25px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: transparent;
    margin-right: 20px;
  

}


.col-left {
    width: calc(30%);
    margin: 0px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding-left: 10px;

}

.col-right {
    width: calc(30%);
    background-color: transparent;
    margin: 0px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding-right: 5px;

}

.col-right i {
    margin-right: 5px;
}

.col-bottom a {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.col-bottom .profile-logo {
    display: flex;
    align-items: center;
}

.col-40 {
    width: calc(40% - 10px);
    height: 100px;
    background-color: transparent;
    margin: 0px 5px;
    
}

.display{
  display: flex;
  justify-content: end;
  
  
}

.container-display {
    padding-top: 100px;
    width: calc(100vw - 200px);
    height: calc(100vh - 80px);
    background-color: rgb(31, 37, 47);
    overflow: auto;
    
}

.row-display{
  display: flex;
}

.col {
    width: calc(100% / 6 - 20px);
    margin: 10px;
    margin-top: 30px;
    position: relative;

}

.col:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    background-color: #07070756;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}


.col img {
    width: 100%;
  
}



/* SIDEBAR */


.main-menu img {
    margin-right: 10px;
    width: 20px;
    
}

.sidebar-top {
  height: 400px;
  width: 100%;


}

.sidebar-bottom {
    z-index: 5;
    min-height: 80px;
    width: 100%;

}

.row.column {
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    height: 80px;
    width: 100%;
}

.logo img {
    margin: 5px;
    padding: 10px;
    width: 150px;
}

.main-menu {
    height: 120px;
    width: 100%;
}

#home-head {
    color: white;
    font-weight: 600;
    font-size: 15px;

}

.green-bar {
    border-left: 3px  solid rgb(1, 188, 1);
}

.green-bar-2 {
    color:rgb(1, 188, 1);
}


.main-menu ul li {
    color: grey;
    font-size: 12px;
    font-weight: 100;
    padding: 5px;
    margin-left: 10px;

}

#title-list {
    font-size: 18px;
}

.plus-container {
    height: 50px;
}

#plus {
    padding-top: 10px;
    background-color: gray;
    font-size: 30px;
}

#text-plus {
    margin-left: 10px;
    color: grey;
}




.playlist-list {
    font-weight: 100;
    font-size: 14px;
    padding: 15px;
    position: absolute;
    z-index: 1;
    height: 300px;
    width: 100%;
    background-color: transparent;
    overflow-y: auto;

}

.playlist-list ul li{
    color: grey;
    margin-bottom: 20px;
    list-style-type: none;
}


.col-bottom p {
    display: flex;
    width: 170px;
    margin: 10px;
    
}

hr {
    width: 85%;
    color: grey;
}

/* DISPLAY CONTENUTI */

.container-display ul {
    color: grey;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 10px;
    
}

.container-display ul li {
    padding: 0px 10px;
    margin-bottom: 20px;
}
/* DISPLAY CONTENUTI titoli*/

h2 {
    color: white;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 20px;
}

.titles {
    margin-top: 10px;
    text-align: center;
}



.titles h3 {
    font-size: 15px;
    color: white;

}

.titles p {
    color: rgb(157, 155, 155);
    font-size: 12px;
    margin-top: -2px;
    margin-left: 0px;
}



.subtitle-title {
    color: grey;
    font-size: 11px;
}

.circle{
    border-radius: 50%;
    
}


/* PLAYER BOTTOM */

.row-player-1 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30px;
  
}

.row-player-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
    font-size: 12px;
}

.col-10 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    margin: 0px 2px;
    height: 30px;

}

.progres-bar {
    margin-top: 2px;
    background-color: gray;
    width: 100%;
    height: 4px;
    border-radius: 10px;
}

.progress {
    position: relative;
    background-color: rgb(236, 236, 236);
    width: 40%;
    height: 100%;
    border-radius: 10px;
}

.progres-bar:hover .progress {
    background-color: rgb(94, 204, 94)
}


.progres-bar:hover .progress::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    right: 0px;
    background-color: rgb(248, 248, 248);
    transform: translate(50%, calc(2px - 50%));
  
}


.prevew{
    width: 50px;
   
}


.brano-name {
    margin-top: -10px;
    font-size: 12px;
}
.brano-name , .bold {
    margin-left: 0px;}



 .progres-bar-sound {
        margin-top: 2px;
        background-color: gray;
        width: 100px;
        height: 4px;
        border-radius: 10px;
    }
    
.progress-sound {
        position: relative;
        background-color: rgb(236, 236, 236);
        width: 40%;
        height: 100%;
        border-radius: 10px;
    }


.progres-bar-sound:hover .progress-sound {
        background-color: rgb(94, 204, 94)
    }
    
    
.progres-bar-sound:hover .progress-sound::after {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        right: 0px;
        background-color: rgb(248, 248, 248);
        transform: translate(50%, calc(2px - 50%));
      
    }    

/* ICONS */

.fa-plus {
    padding-top: 6px;
    text-align: center;
    height: 28px;
    background-color: rgb(173, 172, 172);
    width: 28px;
}

.fa-arrow-down {
    color: aliceblue;
    font-size: 6px;
    font-weight: bold;
    width: 15px;
    margin-right: -5px;
    height: 16px;
    padding-top: 4px;
    text-align: center;
    border-radius: 60%;
    border: 1px solid rgb(160, 157, 157);
}

.fa-play-circle {
    font-size: 30px;
    color: white;
}



.fa-step-backward , .fa-forward-step{
   font-size: 20px;
   color: white;
}

.fa-arrow-rotate-right , .fa-shuffle {
    font-size: 14px;
    color: white;
}


.profile-logo {
    width: 12%;
    padding: 1px;
    border: 1px solid grey;
    background-color: grey;
    border-radius: 50%;
    margin-right: -1px;
    
}



.user-align {
    align-items: center;
}



.col-right i {
    font-size: 12px;
    padding: 3px;
    color: white;
}

.col-left i {
    color: rgb(183, 179, 179);
}






@media screen and ( max-width: 550px ) {
 .container-sidebar {
        width: 50px ;
    }

a { display: none;
    }
    

.logo img {
    content: url(./img/logo-small.svg);
    margin: 0px;
    padding: 5px;
    width: 40px;
}
.playlist-list {
    display: none;
}

.playlist {
    display: none;
}

.row-bottom p {
    display: none;
}

.hr-bottom {
    display: none;
}
.col-bottom {
   margin: 1px;
    
}
.profile-logo {
    margin: 10px;
    width: 20px;
    margin-left: -32px;
}

.fa-arrow-down {
    margin-right: 45px;
}

.container-display {
    width: calc(100% - 50px);
}

.row-display{
   width: 100% ;
   flex-wrap: wrap;
}

.col {
    width: calc(100% / 2  - 20px);
    margin: 10px;

}
    
}


@media screen and ( max-width: 768px ) {
    
}


@media screen and (max-width: 900px) and (min-width: 550px) {

    .row-display{
        flex-wrap: wrap;
    }
    .col {
        width: calc(100% / 4 - 20px);
    }

    
}


